<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 自动扫描quick4j包 ,将带有注解的类 纳入spring容器管理 -->
    <!-- <context:component-scan base-package="com.yl.spring.aop">
            &lt;!&ndash;<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
            <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>&ndash;&gt;
     </context:component-scan>-->

    <bean id="hello" class="com.yl.spring.aop.Hello">

    </bean>

    <bean id="quest" class="com.yl.spring.aop.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean id="knight" class="com.yl.spring.aop.BraveKnight">
        <constructor-arg ref="quest"/>
    </bean>


    <bean id="minstrel" class="com.yl.spring.aop.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <aop:config>
           <aop:aspect ref="minstrel">
                  <aop:pointcut id="embark" expression="execution(* *.embarkOnQuest(..))" />
                  <aop:before pointcut-ref="embark" method="singBeforeQuest"/>
                  <aop:after pointcut-ref="embark" method="singAfterQuest"/>
           </aop:aspect>
    </aop:config>

</beans>