<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 自动扫描quick4j包 ,将带有注解的类 纳入spring容器管理 -->
     <context:component-scan base-package="com.yl.spring">
            <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
            <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>-->
     </context:component-scan>

    <aop:aspectj-autoproxy />

    <bean id="duke" class="com.yl.spring.aopxml.Juggler" />

    <bean id="audience2" class="com.yl.spring.aopxml.Audience2" />

    <!--<bean id="audience3" class="com.yl.spring.aopannotation.Audience3" />-->

    <bean id="magician" class="com.yl.spring.aopxml.Magician" />

    <bean id="volunteer" class="com.yl.spring.aopxml.Volunteer" />

    <bean id="hello" class="com.yl.spring.aop.Hello">

    </bean>

    <bean id="quest" class="com.yl.spring.aop.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean id="knight" class="com.yl.spring.aop.BraveKnight">
        <constructor-arg ref="quest"/>
    </bean>


    <bean id="minstrel" class="com.yl.spring.aop.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <!--<aop:config>
            &lt;!&ndash;声明切面，引用bean提供了应用于切面的通知所调用的方法&ndash;&gt;
           <aop:aspect ref="minstrel">
                  &lt;!&ndash;切点&ndash;&gt;
                  <aop:pointcut id="embark" expression="execution(* *.embarkOnQuest(..))" />
                  &lt;!&ndash;通知&ndash;&gt;
                  <aop:before pointcut-ref="embark" method="singBeforeQuest"/>
                  <aop:after pointcut-ref="embark" method="singAfterQuest"/>
           </aop:aspect>

            &lt;!&ndash;<aop:aspect ref="audience2">
                <aop:pointcut id="performance2" expression="execution(* *.perform(..))" />
                &lt;!&ndash;<aop:before pointcut-ref="performance2" method="takeSeats" />
                <aop:before pointcut-ref="performance2" method="takeOffCellPhones" />
                <aop:after-returning pointcut-ref="performance2" method="applaud" />
                <aop:after-throwing pointcut-ref="performance2" method="demandRefund" />&ndash;&gt;
                <aop:around pointcut-ref="performance2" method="watchPerformance" />
            </aop:aspect>&ndash;&gt;

            <aop:aspect ref="magician">
                &lt;!&ndash;如果是多参数，并且类型各不相同应该怎么处理&ndash;&gt;
                <aop:pointcut id="thinking" expression="execution(* com.yl.spring.aopxml.Thinker.thinkOfSomething(String))
                and args(thoughts)" />
                <aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts" />
            </aop:aspect>

            <aop:aspect>
                <aop:declare-parents
                        types-matching="com.yl.spring.aopxml.Performer+"
                        implement-interface="com.yl.spring.aopxml.Contestant"
                        default-impl="com.yl.spring.aopxml.GraciousContestant"
                        />
            </aop:aspect>
    </aop:config>-->

</beans>