<?xml version="1.0"?>
<configuration debug="true" scan="true">
    <property name="log.base" value="/home/yanlong/tempjars" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%p] [%F-%M:%L]  %m%n</pattern> &lt;!&ndash; 杈撳嚭鐨勬棩蹇椾俊鎭殑鏍煎紡 &ndash;&gt;-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}:%line]  %msg%n</pattern>
             <!--<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/log_20151110.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/log.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yl" additivity="false">
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root>
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="file" />-->
    </root>

    <!--<logger name="org.mybatis" level="off"/>-->
    <!--<logger name="org.springframework" level="debug"/>-->

    <!--myibatis log configure-->
    <!--<logger name="com.apache.ibatis" level="TRACE"/>-->
    <!--<logger name="java.sql.Connection" level="DEBUG"/>-->
    <!--<logger name="java.sql.Statement" level="DEBUG"/>-->
    <!--<logger name="java.sql.PreparedStatement" level="DEBUG"/>-->

</configuration>